fastapi
uvicorn
sqlalchemy
asyncpg
aiosqlite
alembic
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
pydantic
email-validator
python-multipart
yfinance
pydantic-settings
python-dotenv
websockets
pytest
pytest-asyncio
httpx
psycopg2-binary
